@import '../../../_common/styles/b300x600.scss';
@import '../../../_common/styles/ypy.scss';

#banner{
	background-color: white;
}

#banner, .frame{
	// overflow: visible;

}
.hero{
	// transform-origin: 50% 50%;
	
	// @include pos-scale(-100, 12, .82);
	
}

.frame2{
	background-color: #bfff00;	
}



.footer-bar{
	width: 300px;
	height: 243px;
	background-color: #4bfff4;
	@include pos(0, 357);
}

.ring{
	// opacity: 0;
	
	@include pos-scale-rotate(-372, -146, .95, 0);
	
	
}

.ypy{
	transform-origin: 50% 800px;
	@include pos-scale-rotate(-150, -400, .5, 0);	
}

.ypy-all{
	
	@include pos-scale(20, 417, 1.74);
}